{erl_opts, [
        debug_info,
        warn_missing_spec,
        fail_on_warning
]}.


{deps, [
        {cuesport, ".*", {git, "https://github.com/goj/cuesport.git", "3b16d99d8bc41774dbc4dabad8054b4423dec5a6"}},
        {exometer, ".*", {git, "https://github.com/Feuerlabs/exometer.git", {tag, "1.2.1"}}}
]}.
